* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-size: 25px;
    overflow-x: hidden;
}
header {
    background-color: #1d1b38;
}
.clearfix::after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;
}
.row {
    max-width: 1180px;
    margin: 0 auto;
}
.logo {
    height: 50px;
    width: 40px;
    float: left;
    margin-top: 20px;
}
.nav-links {
    float: right;
    margin-top: 45px;
    color: whitesmoke;
    font-family: 'Iceland', sans-serif;
    font-size: 90%;
}
.nav-links li {
    display: inline-block;
    list-style-type: none;
    margin-left: 40px;
}
.nav-links li a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: 100;
}
.nav-links li a:hover{
    color: brown;
}

.main-content {
    width: 1180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}