* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Varela', sans-serif;
}
body {
    font-size: 25px;
    overflow-x: hidden;
    background-color: #1d1b38;
    background-image: url(./img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;

}

header {
    
    padding: 0.5%;
    transition: box-shadow 0.5s;
}
.clearfix::after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;
}
.row {
    max-width: 80%;
    margin: 0 auto;
}
.logo {
    width: 10vw;
    float: left;
    margin-left: -9vw;
    margin-top: 0.5%;
}
.nav-links {
    float: right;   
    margin-top: -2.5%;
    margin-right: 1%;
    color: whitesmoke;
    font-family: 'Century Gothic', sans-serif;
    font-size: 1vw;
}
.nav-links li {
    display: inline-block;
    list-style-type: none;
    margin-left: 1vw;
}
.nav-links li a {
    color: whitesmoke;
    transition: all 0.5s ease-in-out;
    padding:0.8vw;
    text-decoration: none;
    font-weight: 100%;
    
}

.nav-links li a.resume-btn {
    border: 1px solid whitesmoke;
    border-radius: 2%;
}
.nav-links li a:hover{
    animation: fill 3s alternate-reverse;
    background-color: rgb(17, 47, 80);
    
}

.main-content {
    width: 80%;
    position: absolute;
    top: 70vw;
    left: 54vw;
    transform: translate(-40vw, -10vw);
    line-height: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-content h1 {
    color: rgb(166, 186, 206);
    font-size: 5vw;
}
.main-content span {
    color: cyan;
    font-size: 1.3vw;
    
}
.main-content h2 {
    color: darkcyan;
    font-size: 4vw;
    
}
.main-content p {
    font-size: 1.5vw;
    color: rgb(153, 175, 252);
    margin-top: 5%;
    margin-bottom: 3vw;
}
.main-content .get-in-touch {
    border: 1px solid cyan;
    border-radius: 2vw;
    font-size: 1vw;
    padding: 0.8vw;
    text-decoration: none;
    color: whitesmoke;
    transform: background-color 0.2s;
}
.get-in-touch:hover {
    transition: linear 0.3s;
    background-color: rgba(78, 76, 73, 0.144);
    box-shadow: 1px 1px 6px black;
}
.vert-line1{
    height: 100px;
    background-color: rgb(174, 187, 245);
    width: 2px;
    position: fixed;
    bottom: 0vw;
    left: 4vw;
    /* transform: translate(-50%, -50%); */
}
.vert-line2{
    height: 100px;
    background-color: rgb(174, 187, 245);
    width: 2px;
    position: fixed;
    bottom: 0vw;
    right: 4vw;
}
.right-email{
    height: 100px;
    position: fixed;
    bottom: 13vw;
    right: 3.4vw;
    transition: all 0.3s ease;
}
.right-email:hover{
    bottom: 13.5vw;
}

.right-email a{
    text-decoration: none;
    color: darkcyan;
    transition: all 0.3s ease;
    font-size: 1vw;
    writing-mode: vertical-lr;
}
.right-email a:hover{
    bottom: 13.5vw;
    color: whitesmoke;
}

#Aboutsection {
    font-size: 1.2vw;
    width: 60vw;
    position: absolute;
    top: 120vw;
    left: 54vw;

    transform: translate(-40vw, -10vw);
    font-family: 'Varela', sans-serif;
}
#Aboutsection h1 {
    color: rgb(247, 189, 247);
    margin-bottom: 3.3vw;
}
#Aboutsection p {
    color: steelblue;
    line-height: 1.5vw;
    word-spacing: 0.1vw;
}
#Aboutsection .hr-about {
  position: absolute;
  margin-top: -4vw;
  margin-left: 14vw;
  width: 22vw;

}
#Aboutsection .languages {
    color: darkcyan;
    padding: 2vw;
    line-height: 1.5vw;    
}
#Aboutsection .profile-pic{ 
    float: right;
    /* margin-right: 18vw; */
    margin-top: -1vw;
    width: 18vw;
    
}